@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 Ubuntu, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  margin: 0;
  background-color: #18294f;
  color: #fff;
  max-height: 320px;
}

header h1 {
  margin: 0 .9rem;
  padding: .3em 0 .5em;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.125rem;
}

nav a {
  color: #6c8fe0;
  text-decoration: none;
  border: 5px solid transparent;
  display: block;
  white-space: nowrap;
}

nav li {
  padding: .5em .75em;
}

nav a:hover {
  background-color: #6c8fe0;
  color: #fff;
}

nav li:hover {
  background-color: #6c8fe0;
}

@media only screen and (min-width: 25em) {

  nav ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  nav li {
    min-width: 50%;
  }

  header {
    min-height: 160px;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  nav ul {
    flex-wrap: nowrap;
  }

  nav li {
    min-width: 25%;
  }

  header {
    min-height: 115px;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  header {
    display: flex;
    padding: .75em 0;
    justify-content: space-between;
    align-items: center;
  }

  nav li {
    display: block;
    min-width: 25%;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

}
© 2019 GitHub, Inc.
